@import "tailwindcss/base";

@import "tailwindcss/components";

@import "components.css";

@import "tailwindcss/utilities";

body {
  @apply bg-black font-sans overflow-x-hidden font-abnormal;
}

.main-margins {
  @apply px-4 md:px-16;
}

picture img {
  @apply pb-6;
}

.bold {
  @apply font-extrabold md:font-black;
}

p {
  @apply text-justify md:text-left;
}

.austrian-cell {
  width: 6.7%;
  display: flex;
  flex-flow: column nowrap;
}

.austrian-cell div {
  width: 100%;
  flex: 0 1;
}

.logos-grid {
  width: 93.3%;
}

