<footer class="border-t border-black w-full pt-14 main-margins flex flex-col">

  <div class="flex flex-row w-full">
    <div class="austrian-cell flex items-center justify-center">
      {{svg-jar "austrian-white" class="h-full" title="Austrian Cultural Forum NYC"}}
    </div>
    <div class="logos-grid w-9/10 grid grid-cols-5 grid-rows-3">
      <div>
        {{svg-jar "undercurrent-white" title="Undercurrent"}}
      </div>
      {{#each this.logos as |logo|}}
        <div>
          {{svg-jar (concat logo.slug "-white") title=logo.name}}
        </div>
      {{/each}}
    </div>
  </div>
  <p class="text-xs md:text-sm w-full text-center pt-4">
    © 2021 /UNDERCURRENT /70 John St. Brooklyn, NY, 11201.<br />
    All Rights Reserved.
  </p>
</footer>

