<aside class="border-t border-black main-margins w-full pb-6 md:pb-10">
  <ul class="flex flex-row w-full items-end space-x-3 md:space-x-6">
    {{#each this.tiles as |tile|}}
      <li class="w-1/3">
        <Tiles::Tile @tile={{tile}} />
      </li>
    {{/each}}
  </ul>
</aside>
