<div class="border-black border-2 flex flex-col p-4 md:p-6 space-y-2 md:space-y-4 ">
  <div class="flex-grow full flex flex-col justify-center space-y-2 text-xs">
    <p>SIGN UP FOR THE Ū NEWSLETTER:</p>
  </div>
  <div class="h-10 flex flex-row space-x-2">
    <button class="flex-grow text-white bg-black hover:bg-accent-500 text-sm h-full">
      <a href="http://undercurrent.nyc/signup" class="hover:text-gray-200">Sign Up</a>
    </button>
    <button class="p-0 h-full">
      <a href="http://facebook.com/undercurrent.nyc">
        <p class="sr-only">Undercurrent Facebook</p>
        {{svg-jar "facebook-official" class="fill-current h-full"}}
      </a> 
    </button>
    <button class="p-0 h-full">
      <a href="https://instagram.com/undercurrent.nyc">
        <p class="sr-only">Undercurrent Instagram</p>
        {{svg-jar "instagram" class="fill-current h-full"}}
      </a>
    </button>
  </div>
</div>
