.exhibition-map-container .map-bkgd {
  fill: none;
  stroke: #333;
  stroke-width: 1;
}

.exhibition-map-container .map-focus {
  fill: none;
  stroke: #000;
  stroke-width: 3;
}

.exhibition-map-container .map-text {
  color: #333;
  @apply text-3xl;
}

.exhibition-map-container .art-piece {
  @apply font-semibold text-4xl;
}

.exhibition-map-container .art-piece text,
.exhibition-map-container .art-piece path {
  pointer-events: bounding-box;
}

.exhibition-map-container .art-piece.undercurrent:hover {
  fill: #1e67b1;
}

.exhibition-map-container .art-piece.acfny:hover {
  fill: #ee3e28;
}
