.video-wrapper iframe {
  width: 100vw;
  height: 56.25vw;
  min-height: 100vh;
  min-width: 177.77vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-wrapper {
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
  @apply fixed top-0 left-0 w-full h-full 
}

.video-image-overlay {
  background-size: 2%;
  background-image: url(/assets/png/checkerboard.png);
  background-position: center;
  image-rendering: pixelated;
  display: block;
  @apply absolute top-0 left-0 bottom-0 right-0 z-10 h-full w-full;
}

