<div class="exhibition-about w-full md:w-2/3 md:pr-8 leading-tight">
<p> 
  The Austrian Cultural Forum New York and Undercurrent are pleased to present
  <strong>un/mute</strong>, an international group exhibition of collaborative
  works by 28 artists across multiple disciplines. On view at the Austrian
  Cultural Forum New York and Undercurrent, the exhibition is the culmination
  of an 18-month-long project that was launched in 2020 to provide European and
  NYC-based artists an opportunity for critical exchange and collaboration
  during the COVID-19 global pandemic.
</p>

<p>
  What do communication and collaboration mean in a time of uncertainty and
  isolation? How is the artistic process impacted by going “fully remote”? In
  <strong>un/mute</strong>, artists from 10 countries were paired to explore these questions. We
  recognize that effective communication requires active engagement of all the
  senses and an openness to diversity, interpretation and digitalization. But
  what does that look like in practice? The project challenged teams to
  overcome the limitations of lockdowns as they connected across artistic
  mediums, language, culture, generations and time zones to find new forms of
  expression and meaning within art.
</p>

<p>
  <strong>un/mute</strong> is the physical manifestation of online
  conversations among strangers who became collaborators. What began as
  abstract, ephemeral and digital are now 14 tactile, analog and concrete
  artworks presented across two locations. The artists confronted the
  parameters imposed by the lockdowns and each team found creative solutions
  that we might all learn from. The common thread that runs through the
  sculptures, installations, films, drawings, photographs and performances is
  the importance of language.  
</p>

<p>
Ever-evolving, language encapsulates an innate power dynamic that is
renegotiated, redistributed and reimagined in uncertain times. While words like
“screenshare,” “Zoom-bombing” and “unmute” enter a universal lexicon, and
“#relatable” memes are shared across cultures, we also face the limits of
language as we work to avoid miscommunication and misunderstanding. Cultures
and countries apart, the artists endeavored to find a bridge across two points
in (virtual) space through the ephemeral Zoom link. What they also discovered
were empathy from a fellow artist, discussions that sparked new ideas, a shared
language around the creative process and a rethinking of the power of art.  
</p>

<p>
  With cities re-opening, a recontextualized focus on systemic racism and
  xenophobia, and our collective experience of 18 months of self-reflection,
  <strong>un/mute</strong> observes the transition into a new epoch — one that imagines an
  inclusive and diverse ecosystem. Differences may surface in times of
  cooperation and compromise, but synergy can be forged through friction. We
  trip, we regain our balance, we shift, we reconsider. What is crucial is that
  when we do have the chance to rise to meet the moment, we seize the
  opportunity and “click unmute.”
</p>

<p>
  <strong>EXHIBITING ARTISTS:</strong> 
<a class="red" href="https://eren-aksu.com/" target="_blank" rel="noreferrer noopener">Eren Aksu</a> (Germany),
<a class="blue" href="https://www.thewholeelements.com/" target="_blank" rel="noreferrer noopener">Anna Bera</a> (Poland),
<a class="red" href="https://eren-aksu.com/" target="_blank" rel="noreferrer noopener">Aaron Bezzina</a> (Malta),
<a class="red" href="http://www.alex-camilleri.com/index" target="_blank" rel="noreferrer noopener">Alex Camilleri</a> (Malta),
<a class="red" href="https://www.mariellacassarcordina.com/" target="_blank" rel="noreferrer noopener">Mariella Cassar-Cordina</a> (Malta),
<a class="blue" href="http://kooshkresidency.com/resident/saddie-choua/" target="_blank" rel="noreferrer noopener">Saddie Choua</a> (Flanders, Belgium),
<a href="http://sannedewilde.com/" target="_blank" rel="noreferrer noopener">Sanne De Wilde</a> (Flanders, Belgium),
<a class="blue" href="https://soundsfoolish.com/" target="_blank" rel="noreferrer noopener">FOQL</a> (Poland),
<a class="red" href="https://www.gabrielegervickaite.com/" target="_blank" rel="noreferrer noopener">Gabrielė Gervickaitė</a> (Lithuania),
<a class="red" href="https://www.nicolaginzel.com/" target="_blank" rel="noreferrer noopener">Nicola Ginzel</a> (Austria),
<a class="red" href="https://justynagorowska.com/" target="_blank" rel="noreferrer noopener">Justyna Górowska</a> (Poland),
<a class="red" href="https://kristingrey.com/home.html" target="_blank" rel="noreferrer noopener">Kris Grey</a> (NYC),
<a class="red" href="https://www.kylehittmeier.com/" target="_blank" rel="noreferrer noopener">Kyle Hittmeier</a> (NYC),
<a class="red" href="http://adavanhoorebeke.blogspot.com/" target="_blank" rel="noreferrer noopener">Ada Van Hoorebeke</a> (Flanders, Belgium),
<a class="red" href="http://solaye.com/" target="_blank" rel="noreferrer noopener">Olesja Katšanovskaja–Münd</a> (Estonia),
<a class="red" href="https://mokongmo.com/" target="_blank" rel="noreferrer noopener">Mo Kong</a> (NYC),
<a class="red" href="https://www.flaneurshan.com/" target="_blank" rel="noreferrer noopener">Yi Hsuan Lai</a> (NYC),
<a href="http://www.hlanthaolam.com/main/home.html" target="_blank" rel="noreferrer noopener">H. Lan Thao Lam</a> (NYC),
<a class="blue" href="https://www.marielukacova.com/" target="_blank" rel="noreferrer noopener">Marie Lukáčová</a> (Czech Republic),
<a class="red" href="http://sheilamaldonado.com/" target="_blank" rel="noreferrer noopener">Sheila Maldonado</a> (NYC),
<a class="red" href="http://www.ievamediodia.com/" target="_blank" rel="noreferrer noopener">Ieva Mediodia</a> (Lithuania),
<a class="blue" href="https://www.emmanuel-massillon.com/" target="_blank" rel="noreferrer noopener">Emmanuel Massillon</a> (NYC),
<a class="red" href="http://www.alexmirutziu.com/" target="_blank" rel="noreferrer noopener">Alex Mirutziu</a> (Romania),
<a class="red" href="https://www.luisamuhr.com/" target="_blank" rel="noreferrer noopener">Luisa Muhr</a> (Austria),
<a class="red" href="https://www.barbaramarianeu.at/" target="_blank" rel="noreferrer noopener">Barbara Maria Neu</a> (Austria),
<a class="blue" href="https://emilyshanahan.com/" target="_blank" rel="noreferrer noopener">Emily Shanahan</a> (NYC),
<a class="red" href="https://www.sydneyshavers.net/" target="_blank" rel="noreferrer noopener">Sydney Shavers</a> (NYC), and
<a class="red" href="https://terttuphoto.com/" target="_blank" rel="noreferrer noopener">Terttu Uibopuu</a> (Estonia).
</p>

<p>
  <strong>un/mute</strong> is a project by 
  <a href="https://undercurrent.nyc" target="_blank" rel="noreferrer noopener">Undercurrent</a>
  and the following members of 
  <a href="http://www.eunicny.eu/" target="_blank" rel="noreferrer noopener">EUNIC NY</a>
  - European Union National Institutes for Culture: 
  <a href="https://acfny.org" target="_blank" rel="noreferrer noopener">Austrian Cultural Forum New York</a>, 
  <a href="https://new-york.czechcentres.cz/en/" target="_blank" rel="noreferrer noopener">Czech Center New York</a>, 
  <a href="https://newyork.mfa.ee/" target="_blank" rel="noreferrer noopener">Consulate General of Estonia in New York</a>, 
  <a href="https://www.flandersintheusa.org/" target="_blank" rel="noreferrer noopener">Delegation of Flanders to the USA</a>, 
  <a href="https://www.goethe.de/ins/us/en/sta/ney.html" target="_blank" rel="noreferrer noopener">Goethe-Institut New York</a>, 
  <a href="https://english.lithuanianculture.lt/" target="_blank" rel="noreferrer noopener">Lithuanian Culture Institute</a>, 
  <a href="https://www.artscouncilmalta.org/" target="_blank" rel="noreferrer noopener">Arts Council Malta in New York</a>, 
  <a href="https://instytutpolski.pl/newyork/" target="_blank" rel="noreferrer noopener">Polish Cultural Institute New York</a>, and 
  <a href="https://www.rciusa.info/" target="_blank" rel="noreferrer noopener">Romanian Cultural Institute</a>. <strong>un/mute</strong> is also supported by 
  <a href="https://www.eunicglobal.eu/" target="_blank" rel="noreferrer noopener">EUNIC Global</a>, the 
  <a href="https://eeas.europa.eu/delegations/un-new-york_en" target="_blank" rel="noreferrer noopener">European Union Delegation to the United Nations</a>, 
  <a href="http://www.h-r-s.cz/" target="_blank" rel="noreferrer noopener">Hope Recycling Station</a> and 
  <a href="https://www.sjch.cz/en/" target="_blank" rel="noreferrer noopener">Jindřich Chalupecký Society</a>.
</p>

<p><strong>For media inquiries please contact:</strong></p>

<p>MaryKat Hoeser<br/>
  ACFNY Head of Communications<br/> 
  mary-katerina.hoeser@bmeia.gv.at<br />
  (212) 319-5300 ext.78<br /><br />
  Dalia Stonienė<br/>
  dalia@studiostripe.nyc<br/>
  (718) 316-5509
  </p>
</div>
