<h2>un/mute exhibition team:</h2>

  <ul class="pb-8">
    <li>Co-Curators: <strong>Daina Mattis + Melinda Wang</strong></li>
    <li>Exhibition Executive Producer and Exhibition Coordinator/ACFNY: <strong>Nina Monschein</strong></li>
    <li>Exhibition Coordinator/Undercurrent: <strong>Daina Mattis</strong></li>
    <li>Assistant to Exhibition Coordinator/ACFNY: <strong>Anouk Weber</strong></li>
    <li>Assistant to Exhibition Coordinator/Undercurrent: <strong>Patricia Geyerhahn</strong></li>
    <li>Exhibition Design: <strong>Laura Zaveckaitė</strong></li>
    <li>Installation Architect/Design: <strong>Julius Ludavičius</strong></li>
    <li>Publicist: <strong>Dalia Stonienė</strong></li>
    <li>Head of Communications/ACFNY: <strong>Mary-Katerina Hoeser</strong></li>
    <li>Photographer: <strong>David Plakke</strong></li>
    <li>Project coordinator and Chair/EUNIC Representative: <strong>Christian Ebner</strong></li>
    <li>Web Development: <strong>Moacir P. de Sá Pereira</strong></li>
  </ul>

  <!-- <h2>Installation Teams:</h2> -->

  <!-- <ul> -->
  <!--   <li>ACFNY: In-house installation team</li> -->
  <!--   <li>Undercurrent: In-house installation team</li> -->
  <!-- </ul> -->
