<div class="
  flex flex-row h-48 md:h-32 lg:h-48 xl:h-64 2xl:h-72
  {{if 
    (eq @place "acfny") 
      "justify-start" 
      "justify-end"
  }}"
  >
    {{svg-jar (concat @place "-map") 
      class=(concat
        (concat @place "-map")
        " h-48 md:h-32 lg:h-48 xl:h-64 2xl:h-72")}}
</div>
