<ul class="w-full md:w-3/4 flex-wrap flex flex-row main-margins justify-between
  text-base md:text-2xl
  pt-3 md:pt-6
  space-x-2
  exhibition-menu
  " role="navigation">
  <li>
    <ScrollContainer @linkId="about">
      <a href="#about">
        /about
      </a> 
    </ScrollContainer>
  </li>
  <li class="red">
    <ScrollContainer @linkId="acfny">
      <a href="#acfny">
        /AFCNY
      </a> 
    </ScrollContainer>
  </li>
  <li class="blue">
    <ScrollContainer @linkId="undercurrent">
      <a href="#undercurrent">
        /Undercurrent
      </a> 
    </ScrollContainer>
  </li>
  <li>
    <ScrollContainer @linkId="artists">
      <a href="#artists">
        /artists
      </a> 
    </ScrollContainer>
  </li>
  <!-- <li> -->
  <!--   <ScrollContainer @linkId="artwork"> -->
  <!--     <a href="#artwork"> -->
  <!--       /artwork -->
  <!--     </a> --> 
  <!--   </ScrollContainer> -->
  <!-- </li> -->
  <!-- <li> -->
  <!--   <ScrollContainer @linkId="videos"> -->
  <!--     <a href="#videos"> -->
  <!--       /videos -->
  <!--     </a> --> 
  <!--   </ScrollContainer> -->
  <!-- </li> -->
  <li>
    <ScrollContainer @linkId="signup">
      <a href="#signup">
        /signup
      </a> 
    </ScrollContainer>
  </li>
</ul>

