<ul class="w-3/4 md:w-2/3 flex-wrap flex flex-row main-margins justify-between
  text-sm md:text-2xl
  pt-3 md:pt-6
  space-x-2
  exhibition-menu
  " role="navigation">
  <li>
      <LinkTo @route="index">
        /home
      </LinkTo> 
  </li>
  <li>
      <a href="#about">
        /about
      </a> 
  </li>
  <li class="text-unred">
      <a href="#acfny">
        /ACFNY
      </a> 
  </li>
  <li class="text-unblue">
      <a href="#undercurrent">
        /Undercurrent
      </a> 
  </li>
  <li>
      <a href="#artists">
        /artists
      </a> 
  </li>
  <li>
      <a href="#artwork">
        /artwork
      </a> 
  </li>
  <!-- <li> -->
  <!--   <ScrollContainer @linkId="artwork"> -->
  <!--     <a href="#artwork"> -->
  <!--       /artwork -->
  <!--     </a> --> 
  <!--   </ScrollContainer> -->
  <!-- </li> -->
  <!-- <li> -->
  <!--   <ScrollContainer @linkId="videos"> -->
  <!--     <a href="#videos"> -->
  <!--       /videos -->
  <!--     </a> --> 
  <!--   </ScrollContainer> -->
  <!-- </li> -->
  <li>
      <a href="#signup">
        /signup
      </a> 
  </li>
</ul>

