{{page-title "Exhibition"}}
<main class="bg-white w-screen">
  <Exhibition>
    <Exhibition::Header />
    <Exhibition::Menu />
  </Exhibition>
  <article class="exhibition w-full">
    <section>
      <div class="flex flex-col space-y-2 md:space-y-0 md:flex-row md:justify-between dates md:pt-4">
        <div class="w-full md:w-5/12">
          <Anchor @id="acfny" class="anchor" />
          <Exhibition::Map 
            @data={{@model.acfny}} 
            @place="acfny" />
          <Exhibition::Details
            @dates="09.22/21 – 01.07/22"
            @place="Austrian Cultural Forum"
            @addr1="11 East 52nd Street"
            @addr2="New York, NY 10022"
            @days="Open daily"
            @hours="10am – 6pm"
          />
        </div>
        <div class="w-full md:w-7/12">
          <Anchor @id="undercurrent" class="anchor" />
          <Exhibition::Map 
            @data={{@model.undercurrent}}
            @place="undercurrent" />
          <Exhibition::Details
            @dates="09.22 – 11.21/21"
            @place="Undercurrent"
            @addr1="70 John St."
            @addr2="Brooklyn, NY 11201"
            @days="Thurs – Sun"
            @hours="1pm – 7pm"
          />
        </div>
      </div>
    </section>
    <section>
      <Anchor class="anchor" @id="about" />
      <p class="w-full md:w-2/3 md:pr-8 leading-tight">
        <span class="bold text-xl leading-tight">un/mute.</span> A short overview of all 3 volumes. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismodv tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
      </p>
    </section>
    <section class="border-black border-t">
      <h2>un/mute exhibition team:</h2>

      <ul class="pb-8">
        <li>Co-Curators: <strong>Daina Mattis + Melinda Wang</strong></li>
        <li>Exhibition Executive Producer and Exhibition Coordinator/ACFNY: <strong>Nina Monschein</strong></li>
        <li>Exhibition Coordinator/Undercurrent: <strong>Daina Mattis</strong></li>
        <li>Assistants to Exhibition Coordinator/Undercurrent: <strong>Patricia Geyerhahn + Adriana Furlong</strong></li>
        <li>Exhibition Design: <strong>Laura Zaveckaitė</strong></li>
        <li>Installation Architect/Design: <strong>Julius Ludavičius</strong></li>
        <li>Publicist: <strong>Dalia Stonienė</strong></li>
        <li>Photographer: <strong>David Plakke</strong></li>
        <li>Project coordinator and Chair/EUNIC Representative: <strong>Christian Ebner</strong></li>
        <li>Web Development: <strong>Moacir P. de Sá Pereira</strong></li>
      </ul>

      <h2>Installation Teams:</h2>

      <ul>
        <li>ACFNY: In-house installation team</li>
        <li>Undercurrent: In-house installation team</li>
      </ul>
    </section>
    <section class="border-black border-t">
      <Anchor @id="artists" class="anchor" />
      <ArtistsList />

    </section>
    <!-- <section class=""> -->
    <!--   <Anchor @id="artwork" /> -->
    <!-- </section> -->
    <!-- <section class=""> -->
    <!--   <Anchor @id="videos" /> -->
    <!-- </section> -->
    <section class="">
      <Anchor @id="signup" class="anchor"/>
      <h2>Signup</h2>
    </section>
  </article>
  <Footer @useHope={{false}} />
</main>

