{{page-title "Index"}}
<main class="bg-white w-screen">
  <Header />
  <article class="pt-6 md:pt-16 pb-6 md:pb-10 main-margins w-full">
    <p class="w-full md:w-2/3 md:pr-8 leading-tight">
      <span class="bold text-xl leading-tight">un/mute.</span> An
      international group exhibition of collaborative works by 28 artists
      across multiple disciplines, <strong>un/mute</strong> is the
      culmination of two online residencies launched in 2020
      to provide European and NYC-based artists an opportunity for critical
      exchange and collaboration during the COVID-19 global pandemic. The residencies, 10001 and
      10002, paired artists who have never met before and challenged teams to
      overcome the limitations of lockdowns as they connected across artistic
      mediums, language, culture, generations and time zones to find new forms
      of expression and meaning within art. Video recordings of the artists’
      conversations and collaborative processes serve as archive and
      inspiration.
    </p>
  </article>
    <Tiles />
    <Footer @useHope={{true}} />
</main>

