{{page-title "Staging"}}
<main class="bg-white w-screen">
  <Header />
  <article class="pt-6 md:pt-16 pb-6 md:pb-10 main-margins w-full">
    <p class="w-full md:w-2/3 md:pr-8 leading-tight">
      <span class="bold text-xl leading-tight">un/mute.</span> A short overview of all 3 volumes. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismodv tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
    </p>
  </article>
    <Tiles />
    <Footer @useHope={{true}} />
</main>

